<div class="container">
 <div class="mt-4 mb-3 text-center"><h4 class="m-0">イベント開催カレンダー</h4></div>

    <div class="col">

        <!--カレンダーを追加-->
        <div id='calendar'></div>

    </div>
    <ul class="pagination justify-content-center mt-5">
      <%= paginate @events %>
    </ul>

</div>