<div class="container">
 <div class="mt-4 mb-3 text-center"><h4 class="m-0">イベント一覧</h4>※新着順</div>

  <div class="row">
    <%= render 'search', events: @events %>

    <div class="col-md-8">
      <div class="container mt-4">
        <!--カレンダー表示-->
        <div id='calendar'></div>
        <!--本日以降開催のイベントを表示-->
        <% @events_run.each do |event| %>
          <%= render "event", event: event %>
        <% end %>

        <% if @events_past.present? %>
          <div class="mt-4 mb-3 text-center"><h4 class="mt-0">過去のイベント</h4></div>
        <% end %>
          <% @events_past.each do |event| %>
            <%= render "event", event: event %>
          <% end %>
      </div>
    </div>

  </div>

    <ul class="pagination justify-content-center mt-5">
      <%= paginate @events %>
    </ul>

</div>