<% if resource.errors.any? %>
  <div class="flash-message alert" data-turbo-cache="false">
    <ul class="list-unstyled p-0 m-0">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
