<div class="container mt-5">
  <div class="row justify-content-center">
      <div class="col-md-6 text-center">
          <h1 class="m-0">SportsMeet</h1>
          <p>スポーツをしたい人にイベント参加のきっかけを作る<br>「イベント」と「人」の『逆オファー型イベント予約サイト』です。</p>
      </div>
  </div>
  <div class="row justify-content-center mt-4">
    <div class="col text-center">
      <h5>当サイトをご利用いただき、ありがとうございます。
      <br>ご自分の興味を設定していただくと新規のイベントから招待が届きます。
      <br>マイページからお気に入りに登録していただいたイベントのみ閲覧することができます。
      <br>たくさんのご応募お待ちしております。</h5>
      <div class="mt-2">
        <h6>投稿したイベントの中止をご検討される場合は、管理者にご連絡いただきますようお願い申し上げます。</h6>
        <h5 class="">管理者連絡先:admin1@example.com</h5>
      </div>
      <div class="mt-3 text-danger"><h6>※このサイトのイベントは全て架空のものです。<br>実際にイベントは存在しませんので、ご注意ください。</h6></div>
    </div>
  </div>
</div>