@use '~bootstrap/scss/bootstrap';

// ここから移植
header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.flash-message {
  border-radius: 5px;
  padding: 16px 24px;
  margin: 16px 0px;
  text-align: center;
}

.flash-message.notice {
  background-color: #bcdfff;
  color: #0067C0;
  border: solid 1px #0067C0;
}

.flash-message.alert {
  background-color: #ffd4d1;
  color: #930403;
  border: solid 1px #930403;
}

.page a,
.last a,
.first a,
.prev a {
  margin-left: 10px;
  margin-right: 10px;
}

.page a:hover,
.next a:hover,
.last a:hover,
.first a:hover,
.prev a:hover {
  color: black;
}

.current {
  font-weight: bold;
}

.scroll-top-btn {
  // 最初は非表示
  display: none;
  position: fixed;
  bottom: 5%;
  right: 5%;
  font-size: 70px;
}

.scroll-top-btn:hover {
  transform: scale(1.1);
}